<h1> {{first_name}} {{last_name}}</h1>
<span>born {{birth_year}}</span>
<h5> {{profession}}</h5>
<span>The worst thng they did is: {{worst_deed}}</span>
<span>
    As seen in:
    {{#each seen_in}}
        <span>{{title}}; </span>
    {{/each}}
</span>
<hr>

